In [6]:
import pandas as pd

data = {'Category': ['A','A','B','B','C'],
        'Sales': [100, 150, 200, 130, 90],
        'Profit': [20, 30, 50, 40, 15]}
df=pd.DataFrame(data)
df

  Category  Sales  Profit
0        A    100      20
1        A    150      30
2        B    200      50
3        B    130      40
4        C     90      15

In [ ]:
print(df)
print("=================================")
print(df.groupby('Category'))

print("\n====================== groupby Category and mean ======================")
mean=df.groupby('Category').mean()
print(mean)

print("\n====================== groupby Category and sum ======================")
df2=df.groupby('Category').sum()
print(df2)

print("\n====================== groupby Sales and sum ======================")
df3=df.groupby('Sales').sum() # since there are groups available
print(df3)

print("\n====================== groupby Category and count ======================")
df4=df.groupby('Category').count()
print(df4)

print("\n====================== groupby Sales and count ======================")
df5=df.groupby('Sales').count()
print(df5) # Now you can see the output why we cannt do groups since there are no matching values

  Category  Sales  Profit
0        A    100      20
1        A    150      30
2        B    200      50
3        B    130      40
4        C     90      15
=================================
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x107c6c3d0>

====================== groupby Category and mean ======================
          Sales  Profit
Category
A         125.0    25.0
B         165.0    45.0
C          90.0    15.0

====================== groupby Category and sum ======================
          Sales  Profit
Category
A           250      50
B           330      90
C            90      15

====================== groupby Sales and sum ======================
      Category  Profit
Sales
90           C      15
100          A      20
130          B      40
150          A      30
200          B      50

====================== groupby Category and count ======================
          Sales  Profit
Category
A             2       2
B             2       2
C             1       1

====================== groupby Sales and count ======================
       Category  Profit
Sales
90            1       1
100           1       1
130           1       1
150           1       1
200           1       1

In [20]:
print(df)
print("\n================= highest Sales in each Category. =================")
df1=df.groupby('Category')['Sales'].max()
print(df1)

print("\n================= Lowest Sales in each Category. =================")
df2=df.groupby('Category')['Sales'].min()
print(df2)

  Category  Sales  Profit
0        A    100      20
1        A    150      30
2        B    200      50
3        B    130      40
4        C     90      15

================= highest Sales in each Category. =================
Category
A    150
B    200
C     90
Name: Sales, dtype: int64

================= Lowest Sales in each Category. =================
Category
A    100
B    130
C     90
Name: Sales, dtype: int64

In [22]:
print(df)
print("\n================= average Sales per Category. =================")
df1=df.pivot_table(values='Sales', index='Category', aggfunc='mean')
print(df1)

  Category  Sales  Profit
0        A    100      20
1        A    150      30
2        B    200      50
3        B    130      40
4        C     90      15

================= average Sales per Category. =================
          Sales
Category
A         125.0
B         165.0
C          90.0

In [24]:
print(df)
print("\n================= Aggregate multiple columns. =================")
df1=df.agg({'Sales':'mean','Profit':'sum'})
print(df1)

  Category  Sales  Profit
0        A    100      20
1        A    150      30
2        B    200      50
3        B    130      40
4        C     90      15

================= Aggregate multiple columns. =================
Sales     134.0
Profit    155.0
dtype: float64

In [31]:
import numpy as np
print(df1)
df1=df.drop('Category',axis=1)
print(df1)
df1=df1.apply(np.mean)
print(df1)

   Sales  Profit
0    100      20
1    150      30
2    200      50
3    130      40
4     90      15
   Sales  Profit
0    100      20
1    150      30
2    200      50
3    130      40
4     90      15
Sales     134.0
Profit     31.0
dtype: float64

In [32]:
df['Sales'].transform(lambda x: x + 10)

0    110
1    160
2    210
3    140
4    100
Name: Sales, dtype: int64