In [5]:
import pandas as pd
data = {
    'A': [10, 20, 30, 40, 50],
    'B': [5, 10, 15, 20, 25],
    'C': [2, 4, 6, 8, 10]
}
df=pd.DataFrame(data)
print(df)

    A   B   C
0  10   5   2
1  20  10   4
2  30  15   6
3  40  20   8
4  50  25  10

In [9]:
print(df)
print("\n============== 1.Mean (average value per column) ==============")
print(df.mean())

    A   B   C
0  10   5   2
1  20  10   4
2  30  15   6
3  40  20   8
4  50  25  10

============== 1.Mean (average value per column) ==============
A    30.0
B    15.0
C     6.0
dtype: float64

In [10]:
print(df)
print("\n============== 2.Median (middle value per column) ==============")
print(df.median())

    A   B   C
0  10   5   2
1  20  10   4
2  30  15   6
3  40  20   8
4  50  25  10

============== 2.Median (middle value per column) ==============
A    30.0
B    15.0
C     6.0
dtype: float64

In [11]:
print(df)
print("\n============== 3.Standard Deviation ==============")
print(df.std())

    A   B   C
0  10   5   2
1  20  10   4
2  30  15   6
3  40  20   8
4  50  25  10

============== 3.Standard Deviation ==============
A    15.811388
B     7.905694
C     3.162278
dtype: float64

In [12]:
print(df)
print("\n============== 4.Variance ==============")
print(df.var())

    A   B   C
0  10   5   2
1  20  10   4
2  30  15   6
3  40  20   8
4  50  25  10

============== 4.Variance ==============
A    250.0
B     62.5
C     10.0
dtype: float64

In [13]:
print(df)
print("\n============== 5.Sum ==============")
print(df.sum())

    A   B   C
0  10   5   2
1  20  10   4
2  30  15   6
3  40  20   8
4  50  25  10

============== 5.Sum ==============
A    150
B     75
C     30
dtype: int64

In [14]:
print(df)
print("\n============== 6.Minimum ==============")
print(df.min())

    A   B   C
0  10   5   2
1  20  10   4
2  30  15   6
3  40  20   8
4  50  25  10

============== 6.Minimum ==============
A    10
B     5
C     2
dtype: int64

In [ ]:
print(df)
print("\n============== 7.Maximum ==============")
print(df.max())

    A   B   C
0  10   5   2
1  20  10   4
2  30  15   6
3  40  20   8
4  50  25  10

============== 6.Maximum ==============
A    50
B    25
C    10
dtype: int64

In [17]:
print(df)
print("\n============== 8.Count of Non-Null Values ==============")
print(df.count())

    A   B   C
0  10   5   2
1  20  10   4
2  30  15   6
3  40  20   8
4  50  25  10

============== 8.Count of Non-Null Values ==============
A    5
B    5
C    5
dtype: int64

In [18]:
print(df)
print("\n============== 9.Correlation Matrix ==============")
print(df.corr())

    A   B   C
0  10   5   2
1  20  10   4
2  30  15   6
3  40  20   8
4  50  25  10

============== 9.Correlation Matrix ==============
     A    B    C
A  1.0  1.0  1.0
B  1.0  1.0  1.0
C  1.0  1.0  1.0