In [4]:
import pandas as pd
df1 = pd.DataFrame({'A':[1,2], 'B':[3,4]})
df2 = pd.DataFrame({'A':[5,6], 'B':[7,8]})
print(df1)
print("================")
print(df2)

   A  B
0  1  3
1  2  4
================
   A  B
0  5  7
1  6  8

In [7]:

print(df1)
print("================")
print(df2)
print("\n============== Concatenate vertically (stack rows) ==============")
res=pd.concat([df1,df2])
print(res)

   A  B
0  1  3
1  2  4
================
   A  B
0  5  7
1  6  8

============== Concatenate vertically (stack rows) ==============
   A  B
0  1  3
1  2  4
0  5  7
1  6  8

In [11]:
print(df1)
print("================")
print(df2)
print("\n============== 2. Concatenate horizontally (side by side) ==============")

res=pd.concat([df1,df2],axis=1)
print(res)

   A  B
0  1  3
1  2  4
================
   A  B
0  5  7
1  6  8

============== 2. Concatenate horizontally (side by side) ==============
   A  B  A  B
0  1  3  5  7
1  2  4  6  8

In [13]:
df1=pd.DataFrame({'id':[1,2,3],'name':['A','B','C']})
df2=pd.DataFrame({'id':[1,2,4],'age':[22,20,29]})
print(df1)
print("================")
print(df2)
print("\n============== 3. Merge on a key (like SQL INNER JOIN default) ==============")
res=df1.merge(df2,on='id')

print(res)

   id name
0   1    A
1   2    B
2   3    C
================
   id  age
0   1   22
1   2   20
2   4   29

============== 3. Merge on a key (like SQL INNER JOIN default) ==============
   id name  age
0   1    A   22
1   2    B   20

ðŸ”‘ One-line difference merge() and join()

join() is index-based, merge() is column-based.

In [19]:
df1 = pd.DataFrame({'name':['A','B','C']}, index=[1,2,3])
df2 = pd.DataFrame({'age':[21,22,23]}, index=[1,2,4])
print(df1)
print("================")
print(df2)
print("\n============== 4. Join (shortcut for index-based joins) ==============")
res=df1.join(df2)
print(res)

  name
1    A
2    B
3    C
================
   age
1   21
2   22
4   23

============== 4. Join (shortcut for index-based joins) ==============
  name   age
1    A  21.0
2    B  22.0
3    C   NaN

In [33]:
df1=pd.DataFrame({'id':[1,2,3],'name':['A','B','C']})
df2=pd.DataFrame({'id':[1,2,4],'age':[22,20,29]})
print(df1)
print("================")
print(df2)
print("\n============== 6. Outer join (all rows, fill missing with NaN) ==============")
# res=pd.merge(df1,df2,how='outer') # 'on' is missed then pandas auto calculate the similar columns and merge,
                                    # If there not having atleast one comman column name then get error

res=pd.merge(df1,df2,how='outer',on='id')
print(res)

   id name
0   1    A
1   2    B
2   3    C
================
   id  age
0   1   22
1   2   20
2   4   29

============== 6. Outer join (all rows, fill missing with NaN) ==============
   id name   age
0   1    A  22.0
1   2    B  20.0
2   3    C   NaN
3   4  NaN  29.0

In [41]:
df1=pd.DataFrame({'id':[1,2,3],'name':['A','B','C']})
df2=pd.DataFrame({'id':[1,2,4],'age':[22,20,29]})
print(df1)
print("================")
print(df2)
print("\n============== 7. Inner join (only common rows)  ==============")
res=pd.merge(df1,df2,how='inner',on='id')
print(res)

   id name
0   1    A
1   2    B
2   3    C
================
   id  age
0   1   22
1   2   20
2   4   29

============== 7. Inner join (only common rows)  ==============
   id name  age
0   1    A   22
1   2    B   20

| Join type | Keeps              |
| --------- | ------------------ |
| `inner`   | Only common ids    |
| `left`    | All rows from df1  |
| `right`   | All rows from df2  |
| `outer`   | All rows from both |

In [42]:
df1=pd.DataFrame({'id':[1,2,3],'name':['A','B','C']})
df2=pd.DataFrame({'id':[1,2,4],'age':[22,20,29]})
print(df1)
print("================")
print(df2)
print("\n============== 8. Left join (keep all from left, match right if exists)  ==============")
res=pd.merge(df1,df2,how='left',on='id')
print(res)

   id name
0   1    A
1   2    B
2   3    C
================
   id  age
0   1   22
1   2   20
2   4   29

============== 8. Left join (keep all from left, match right if exists)  ==============
   id name   age
0   1    A  22.0
1   2    B  20.0
2   3    C   NaN

In [43]:
df1=pd.DataFrame({'id':[1,2,3],'name':['A','B','C']})
df2=pd.DataFrame({'id':[1,2,4],'age':[22,20,29]})
print(df1)
print("================")
print(df2)
print("\n============== 9. Right join (keep all from right, match left if exists) ==============")
res=pd.merge(df1,df2,how='right',on='id')
print(res)

   id name
0   1    A
1   2    B
2   3    C
================
   id  age
0   1   22
1   2   20
2   4   29

============== 9. Right join (keep all from right, match left if exists) ==============
   id name  age
0   1    A   22
1   2    B   20
2   4  NaN   29

In [ ]:
df1=pd.DataFrame({'id1':[1,2,3],'name':['A','B','C']})
df2=pd.DataFrame({'id2':[1,2,4],'age':[22,20,29]})
print(df1)
print("================")
print(df2)
print("\n============== 6. Outer join (all rows, fill missing with NaN) ==============")
res=pd.merge(df1,df2,left_on='id1',right_on='id2')
print(res)

   id1 name
0    1    A
1    2    B
2    3    C
================
   id2  age
0    1   22
1    2   20
2    4   29
   id1 name  id2  age
0    1    A    1   22
1    2    B    2   20